footer {
  width: 100%;
}

main section.section0 form button:before {
  height: 100%;
  width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  font-family: "Poppins";
  background: #FCFCFC;
}
@media (min-width: 551px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (min-width: 551px) {
  .mobile-only {
    display: none;
  }
}

@media (max-width: 550px) {
  .desktop-only {
    display: none;
  }
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.txt-lt {
  color: #848584;
}

@media (min-width: 551px) {
  .wrap-md {
    width: 85%;
  }
}

.navbar {
  padding-top: 40px;
}
.navbar a {
  color: #1B1B1B;
}
.navbar .navbar-brand {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 2px;
}
.navbar .navbar-nav .nav-link {
  padding: 0;
  margin: 0 0.5rem;
}
.navbar .navbar-nav a {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  position: relative;
  padding: 0;
}
.navbar .navbar-nav a:before {
  content: " ";
  display: block;
  position: absolute;
  bottom: 1px;
  left: 0;
  height: 10px;
  width: 100%;
  background: #88C6FF;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s;
}
.navbar .navbar-nav a:hover:before {
  transform: scaleX(1);
}

main {
  flex-grow: 1;
}
main section {
  padding: 70px 0;
  color: #1B1B1B;
}
main section.section0 .title {
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 1px;
}
main section.section0 .title .circled {
  display: inline-block;
  color: #2998FF;
  background: url(../img/circled.svg) no-repeat center;
  background-size: 99%;
  padding: 20px;
  margin-left: -20px;
}
main section.section0 .subtitle {
  color: #848584;
  margin-top: 10px;
  font-size: 14px;
  line-height: 21px;
}
main section.section0 form {
  margin-top: 60px;
}
main section.section0 form input {
  border-radius: 12px;
  padding: 20px 24px;
  border: 2px solid #D6D8E7;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  color: rgba(132, 133, 132, 0.7);
}
main section.section0 form input::-webkit-input-placeholder {
  color: rgba(132, 133, 132, 0.7) !important;
  opacity: 1 !important;
}
main section.section0 form input:-moz-placeholder {
  color: rgba(132, 133, 132, 0.7) !important;
  opacity: 1 !important;
}
main section.section0 form input::-moz-placeholder {
  color: rgba(132, 133, 132, 0.7) !important;
  opacity: 1 !important;
}
main section.section0 form input:-ms-input-placeholder {
  color: rgba(132, 133, 132, 0.7) !important;
  opacity: 1 !important;
}
main section.section0 form input:focus {
  color: rgba(132, 133, 132, 0.7);
  border-color: #D6D8E7;
}
main section.section0 form button {
  margin-top: 25px;
  width: 219px;
  height: 48px;
  position: relative;
  left: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1px;
  color: #2998FF;
  background: #FCFCFC;
  border-radius: 6px;
  border: 2px solid #2998FF;
  cursor: pointer;
}
main section.section0 form button:hover {
  background: #f2f3f7;
}
main section.section0 form button:before {
  content: " ";
  position: absolute;
  top: 10px;
  left: -10px;
  background: #2998FF;
  border-radius: 6px;
  z-index: -1;
}

@media (min-width: 769px) {
  footer {
    height: 60px;
  }
}
@media (max-width: 768px) {
  footer {
    padding: 25px;
    justify-content: space-between;
    align-items: stretch;
  }
}
@media (max-width: 768px) {
  footer .footer-left, footer .footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
  }
}
footer .footer-left a, footer .footer-right a {
  margin: 0 40px;
  color: #1B1B1B;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
@media (max-width: 768px) {
  footer .footer-left a, footer .footer-right a {
    margin-left: 0px;
    margin-bottom: 15px;
  }
}

/*# sourceMappingURL=style-home.css.map */
