html, body{ height:  100%; width: 100%; }
body {
  overflow: hidden;
  font-family: $pop;
  background: $ow;
  @include media('>mob') {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.mobile-only{
	@include media('>mob') { display: none; }	
}

.desktop-only{
	@include media('<=mob') { display: none; }
}
input:focus{
  outline: none!important;
  box-shadow: none!important;
}

.txt-lt{ color: $eb-l; }
.wrap-md{
  @include media('>mob') { width: 85%; }
}

