body { 
  overflow: hidden;
  font-family: $pop;
  // background: black;
}

.mobile-only{
	@include media('>mob') { display: none; }	
}

.desktop-only{
	@include media('<=mob') { display: none; }
}

input:focus{ outline: none; }