html, body{ height:  100%; width: 100%; }
body {
  overflow: hidden;
  font-family: $pop;
  @include media('>mob') {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.mobile-only{
	@include media('>mob') { display: none; }	
}

.desktop-only{
	@include media('<=mob') { display: none; }
}

.txt-lt{ color: $eb-l; }
input:focus{ outline: none; }
