main{
  //margin-top: 140px;
  //height: 60vh;
  flex-grow: 1;
  section{
    // Common for each section
    padding: 70px 0;
    //text-align: center;
    color: $eb;
    //&.section0{
    //  height: 100vh;
    //  width: 100vw;
    //}
  }
}
