main{
  //margin-top: 140px;
  //height: 60vh;
  flex-grow: 1;
  section{
    // Common for each section
    padding: 70px 0;
    //text-align: center;
    color: $eb;
    &.section0{
      .title{
        font-size: 48px;
        font-weight: 600;
        line-height: 72px;
        letter-spacing: 1px;
        .circled{
          display: inline-block;
          color: $bl;
          background: url(../img/circled.svg) no-repeat center;
          background-size: 99%;
          padding: 20px;
          margin-left: -20px;
        }
      }
      .subtitle{
        color: $eb-l;
        margin-top: 10px;
        font-size: 14px;
        line-height: 21px;
      }
      form{
        margin-top: 60px;
        input{
          border-radius: 12px;
          padding: 20px 24px;
          border: 2px solid $lb;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 1px;
          color: rgba($eb-l, .7);
          @include plh(rgba($eb-l, .7));
          &:focus{
            color: rgba($eb-l, .7);
            border-color: $lb;
          }
        }
        button{
          margin-top: 25px;
          width: 219px;
          height: 48px;
          position: relative;
          left: 10px;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 1px;
          color: $bl;
          background: $ow;
          border-radius: 6px;
          border: 2px solid $bl;
          cursor: pointer;
          &:hover{ background: #f2f3f7; }
          &:before{
            content: " ";
            position: absolute;
            top: 10px; left: -10px;
            @extend %fhw;
            background: $bl;
            border-radius: 6px;
            z-index: -1;
          }
        }
      }
    }
  }
}
